<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managed_installs</key>
	<array>
		<dict>
			<key>description</key>
			<string>Shotgun Software Meta Package</string>
			<key>display_name</key>
			<string>shotgun</string>
			<key>download_kbytes_per_sec</key>
			<integer>0</integer>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>1</integer>
			<key>installer_item</key>
			<string>shotgun-3.0.14.4.12.pkg</string>
			<key>installer_item_size</key>
			<integer>1</integer>
			<key>name</key>
			<string>shotgun</string>
			<key>requires</key>
			<array>
				<string>shotgun-javaapi</string>
				<string>shotgun-pythonapi</string>
				<string>shotgun-browserplugin</string>
			</array>
			<key>unattended_install</key>
			<true/>
			<key>version_to_install</key>
			<string>3.0.14.4.12</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Google's web browser.</string>
			<key>display_name</key>
			<string>Google Chrome</string>
			<key>download_kbytes_per_sec</key>
			<integer>0</integer>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>54530</integer>
			<key>installer_item</key>
			<string>GoogleChrome-32.0.1700.77.dmg</string>
			<key>installer_item_size</key>
			<integer>54530</integer>
			<key>installer_type</key>
			<string>copy_from_dmg</string>
			<key>installs</key>
			<array>
				<dict>
					<key>CFBundleIdentifier</key>
					<string>com.google.Chrome</string>
					<key>CFBundleName</key>
					<string>Chrome</string>
					<key>CFBundleShortVersionString</key>
					<string>32.0.1700.77</string>
					<key>CFBundleVersion</key>
					<string>1700.77</string>
					<key>VersionString</key>
					<string>32.0.1700.77</string>
					<key>minosversion</key>
					<string>10.6.0</string>
					<key>path</key>
					<string>/Applications/Google Chrome.app</string>
					<key>type</key>
					<string>application</string>
					<key>version_comparison_key</key>
					<string>CFBundleShortVersionString</string>
				</dict>
			</array>
			<key>items_to_copy</key>
			<array>
				<dict>
					<key>destination_path</key>
					<string>/Applications</string>
					<key>source_item</key>
					<string>Google Chrome.app</string>
				</dict>
			</array>
			<key>name</key>
			<string>GoogleChrome</string>
			<key>unattended_install</key>
			<true/>
			<key>version_to_install</key>
			<string>32.0.1700.77</string>
		</dict>
	</array>
	<key>managed_updates</key>
	<array>
		<string>GoogleChrome</string>
		<string>dpix</string>
	</array>
	<key>optional_installs</key>
	<array>
		<dict>
			<key>description</key>
			<string>Automated Test Framework</string>
			<key>display_name</key>
			<string>mentor-2.2.5.0</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>261</integer>
			<key>installer_item_size</key>
			<integer>261</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>mentor</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>2.2.5.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Development tools for Mac OS X and iOS. Xcode 5.0.2 is for Mountain Lion and Mavericks.</string>
			<key>display_name</key>
			<string>Xcode 5</string>
			<key>installed</key>
			<true/>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>Xcode_5</string>
			<key>needs_update</key>
			<false/>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>5.0.2</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Adobe® Reader® is the global standard for reliably viewing, printing, and commenting on PDF documents. It's the only PDF file viewer that can open and interact with all types of PDF content, including forms and multimedia.</string>
			<key>display_name</key>
			<string>Adobe Reader</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>78846</integer>
			<key>installer_item_size</key>
			<integer>78846</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>AdobeReader</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>11.0.06</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Browser plug-in for Aspera file transfers.</string>
			<key>display_name</key>
			<string>Aspera Connect</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>11076</integer>
			<key>installer_item_size</key>
			<integer>11076</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>AsperaConnect</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>3.1.1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Desktop interface to Jira</string>
			<key>display_name</key>
			<string>bugreport-2.0.4.0</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>189</integer>
			<key>installer_item_size</key>
			<integer>189</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>bugreport</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>2.0.4.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Web plugin for access to Citrix applications</string>
			<key>display_name</key>
			<string>Citrix Online Plug-in</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>18649</integer>
			<key>installer_item_size</key>
			<integer>18649</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>CitrixWebPlugin</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>11.2.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Alternative remote desktop client for OS X -- connect to Microsoft Terminal Services.</string>
			<key>display_name</key>
			<string>CoRD</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>3460</integer>
			<key>installer_item_size</key>
			<integer>3460</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>CoRD</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>0.5.7</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Disney Animation application for browsing images, playlists, albums and reviews</string>
			<key>display_name</key>
			<string>dpix</string>
			<key>installed</key>
			<true/>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>dpix</string>
			<key>needs_update</key>
			<false/>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>3.22.10.0.12</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Search application for Mac -- Spotlight will not search beyond the four walls of your own machine, so if you need to find data out in the /disney universe (or elsewhere), then use EasyFind.</string>
			<key>display_name</key>
			<string>EasyFind</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>2162</integer>
			<key>installer_item_size</key>
			<integer>2162</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>EasyFind</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>4.8.1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Disney Animation FAME application</string>
			<key>display_name</key>
			<string>FAME2</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>21</integer>
			<key>installer_item_size</key>
			<integer>21</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>FAME2_Network</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>2.0.0.0.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Testing version of FAME</string>
			<key>display_name</key>
			<string>FAME2 Stage</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>21</integer>
			<key>installer_item_size</key>
			<integer>21</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>FAME2_Stage</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>2.0.0.0.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Google's web browser.</string>
			<key>display_name</key>
			<string>Google Chrome</string>
			<key>installed</key>
			<true/>
			<key>installed_size</key>
			<integer>54530</integer>
			<key>installer_item_size</key>
			<integer>54530</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>GoogleChrome</string>
			<key>needs_update</key>
			<true/>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>32.0.1700.77</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Virtual globe, map and geographic information software</string>
			<key>display_name</key>
			<string>Google Earth</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>43868</integer>
			<key>installer_item_size</key>
			<integer>43868</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>GoogleEarth</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>7.1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>3D design software from Google. Not for production use.</string>
			<key>display_name</key>
			<string>Google SketchUp</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>39800</integer>
			<key>installer_item_size</key>
			<integer>39800</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>GoogleSketchUp</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>8.0.3161.0.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Plugin to enable Google Voice and Video in your browser</string>
			<key>display_name</key>
			<string>Google Voice and Video plugin</string>
			<key>installed</key>
			<true/>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>GoogleVoiceAndVideoPlugin</string>
			<key>needs_update</key>
			<false/>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>2.6.1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Image processing application. Convert formats, crop, resize, etc.</string>
			<key>display_name</key>
			<string>GraphicConverter</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>19220</integer>
			<key>installer_item_size</key>
			<integer>19220</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>GraphicConverter</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>5.8.0.0.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>LibreOffice is the free power-packed Open Source personal productivity suite for Windows, Macintosh and Linux, that gives you six feature-rich applications for all your document production and data processing needs: Writer, Calc, Impress, Draw, Math and Base.</string>
			<key>display_name</key>
			<string>LibreOffice</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>183476</integer>
			<key>installer_item_size</key>
			<integer>183476</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>LibreOffice</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>3.3.2</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Tool used to log dialog recording slates/takes and send audio media to editorial</string>
			<key>display_name</key>
			<string>lumberjack-1.5.5</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>4148</integer>
			<key>installer_item_size</key>
			<integer>4148</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>lumberjack</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>1.5.5</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Apps and drivers for the MakerBot 3D printer</string>
			<key>display_name</key>
			<string>MakerWare Bundle of Awesome</string>
			<key>installed</key>
			<true/>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>MakerWare</string>
			<key>needs_update</key>
			<false/>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>2.4.1.35</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Remote Desktop connection document for Studio Media Pulse application</string>
			<key>display_name</key>
			<string>MediaPulse</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>15</integer>
			<key>installer_item_size</key>
			<integer>15</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>MediaPulse</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Disney Animation tool to convert seconds, feet and frames and do simple calculations</string>
			<key>display_name</key>
			<string>MickeyCalc</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>116</integer>
			<key>installer_item_size</key>
			<integer>116</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>MickeyCalc</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>4.1.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Additional content for modo 701.</string>
			<key>display_name</key>
			<string>modo 701 Content</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>2038151</integer>
			<key>installer_item_size</key>
			<integer>2038151</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>modo701content</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Video organization and playback application. Not to be confused with Dpix.</string>
			<key>display_name</key>
			<string>PIX</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>8373</integer>
			<key>installer_item_size</key>
			<integer>8373</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>PIX</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>1.8.1</string>
		</dict>
		<dict>
			<key>description</key>
			<string></string>
			<key>display_name</key>
			<string>Raconteur-3.5.5</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>4456</integer>
			<key>installer_item_size</key>
			<integer>4456</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>Raconteur</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>3.5.5</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Web-browser, advanced e-mail, newsgroup and feed client, IRC chat, and HTML editing made simple -- all your Internet needs in one application.</string>
			<key>display_name</key>
			<string>Mozilla SeaMonkey</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>22229</integer>
			<key>installer_item_size</key>
			<integer>22229</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>SeaMonkey</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>2.0.10.0.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Internet voice and video chat application</string>
			<key>display_name</key>
			<string>Skype</string>
			<key>installed</key>
			<true/>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>Skype</string>
			<key>needs_update</key>
			<false/>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>6.12</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Editorial integration and publishing tool.</string>
			<key>display_name</key>
			<string>slingshot-1.2.9</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>547</integer>
			<key>installer_item_size</key>
			<integer>547</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>Slingshot</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>1.2.9</string>
		</dict>
		<dict>
			<key>description</key>
			<string>TextWrangler is the powerful general purpose text editor, and Unix and server administrator's tool. TextWrangler is the "little brother" to BBEdit, a leading professional HTML and text editor.</string>
			<key>display_name</key>
			<string>BBEdit</string>
			<key>installed</key>
			<true/>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>TextWrangler</string>
			<key>needs_update</key>
			<false/>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>4.5.5</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Remote workstation client.</string>
			<key>display_name</key>
			<string>ThinLinc Client</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>6924</integer>
			<key>installer_item_size</key>
			<integer>6924</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>ThinLincClient</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>4.1.1</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Editorial File transfer tool.</string>
			<key>display_name</key>
			<string>tracker-1.1.1.14</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>687099</integer>
			<key>installer_item_size</key>
			<integer>687099</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>Tracker</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>1.1.1.14</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Game player web plugin</string>
			<key>display_name</key>
			<string>Unity webplayer Plugin</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>6591</integer>
			<key>installer_item_size</key>
			<integer>6591</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>UnityPlayerPlugin</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Driver for Wacom Intous tablets and Cintiq displays.</string>
			<key>display_name</key>
			<string>Wacom Tablet Driver</string>
			<key>installed</key>
			<false/>
			<key>installed_size</key>
			<integer>50983</integer>
			<key>installer_item_size</key>
			<integer>50983</integer>
			<key>licensed_seat_info_available</key>
			<false/>
			<key>name</key>
			<string>WacomTablet</string>
			<key>uninstallable</key>
			<true/>
			<key>version_to_install</key>
			<string>6.3.6-4</string>
		</dict>
	</array>
	<key>processed_installs</key>
	<array>
		<string>Office2011</string>
		<string>LocalMCX_Office2011</string>
		<string>DA_Office2011_licensing</string>
		<string>Office2011_Update</string>
		<string>Office2011_Update-14.1.0</string>
		<string>FileMakerPro11Advanced</string>
		<string>FileMaker11Update</string>
		<string>FileMakerPro11Advanced_ODS</string>
		<string>Firefox</string>
		<string>DA_FirefoxConfig</string>
		<string>QuickTimePlayer7</string>
		<string>QuickTimmy</string>
		<string>Thunderbird</string>
		<string>DA_ThunderbirdConfig</string>
		<string>TS_EnterprisePortal</string>
		<string>RDC</string>
		<string>VLC</string>
		<string>HewlettPackardPrinterDrivers</string>
		<string>XeroxPrinterDrivers</string>
		<string>CanonPrinterDrivers</string>
		<string>EPSONPrinterDrivers</string>
		<string>FlashPlayer</string>
		<string>DisableFlash10AutoUpdate</string>
		<string>Flip4Mac WMV</string>
		<string>Shockwave</string>
		<string>Silverlight</string>
		<string>XQuartz</string>
		<string>DA_MavericksAppStoreConfig</string>
		<string>VPNConfigForLion</string>
		<string>RSASecurIDMac</string>
		<string>DA_Lion_WLAN-TWDC_config</string>
		<string>CrashPlanPROeClient</string>
		<string>JavaRuntime</string>
		<string>DA_pyhostinfo</string>
		<string>DA_LionFileVaultAssistant</string>
		<string>DA_adminaccount</string>
		<string>DA_BluetoothAirportConfig</string>
		<string>DA_ColorProfiles_709</string>
		<string>DA_ColorProfiles_P3e</string>
		<string>DA_ColorProfiles_iMac</string>
		<string>DA_rcfiles</string>
		<string>DA_CUPSconfig</string>
		<string>DA_FileVaultMasterPassword</string>
		<string>DA_LibraryFAapplicationsFix</string>
		<string>DA_LoginCacheRedirection</string>
		<string>DA_loginwindowHooks</string>
		<string>DAStartupScripts</string>
		<string>DA_LoginItems</string>
		<string>DA_loginwindow_options</string>
		<string>DA_mobileAccountSetup</string>
		<string>DA_NFSconfig</string>
		<string>DA_NFSadditions</string>
		<string>DA_postfixConfig</string>
		<string>DA_ScreenSharingConfig</string>
		<string>DA_sshConfig</string>
		<string>DAperiodicConfig</string>
		<string>DAaccountMigrator</string>
		<string>DAloginwindowPictures</string>
		<string>DAMunkiAppleSoftwareUpdateConfig</string>
		<string>DApopupService</string>
		<string>DApsuedoAnacron</string>
		<string>DAsearchDomainsSetup</string>
		<string>DAsetDVDregionConfig</string>
		<string>DASetupAssistant</string>
		<string>DATimeDateConfig</string>
		<string>DAtrustedCerts</string>
		<string>DAupdateHostInfo</string>
		<string>DAupdateMachineName</string>
		<string>DAuserUmask</string>
		<string>munkitools</string>
		<string>munkitools_core</string>
		<string>munkitools_launchd</string>
		<string>munkitools_admin</string>
		<string>munkiPostflight</string>
		<string>QuotaMonitor</string>
		<string>DA_GoogleAppsWebLocs</string>
		<string>DisneyAnimationARLslideSaver</string>
		<string>freetds</string>
		<string>libodbc++</string>
		<string>mysql</string>
		<string>mysql-connector-odbc</string>
		<string>MySQL-python</string>
		<string>odbc-config</string>
		<string>Perl-DBD-mysql</string>
		<string>Perl-DBD-ODBC</string>
		<string>postgresql</string>
		<string>psqlodbc</string>
		<string>pymssql</string>
		<string>roll-core</string>
		<string>python-jsonrpc</string>
		<string>roll-disney</string>
		<string>DA_ReceiptForgetter</string>
		<string>DA_MoreReceiptsForgetter</string>
		<string>boost</string>
		<string>img2avid</string>
		<string>AAFUtils</string>
		<string>audiofile</string>
		<string>AAFToolkit</string>
		<string>libgsf</string>
		<string>glib2</string>
		<string>gettext</string>
		<string>colorspace</string>
		<string>libtiff</string>
		<string>libjpeg</string>
		<string>ImageToolkit</string>
		<string>edihd</string>
		<string>python-simplejson</string>
		<string>PyQt</string>
		<string>qt</string>
		<string>sip</string>
		<string>python-ldap</string>
		<string>jsoncpp</string>
		<string>coda</string>
		<string>lts</string>
		<string>log4cxx</string>
		<string>qjson</string>
		<string>prodman</string>
		<string>python-argparse</string>
		<string>pathfinder</string>
		<string>fameweb</string>
		<string>shotgun</string>
		<string>shotgun-javaapi</string>
		<string>shotgun-pythonapi</string>
		<string>shotgun-browserplugin</string>
		<string>SOAPpy</string>
		<string>pydtk</string>
		<string>python-decorator</string>
		<string>python-psycopg2</string>
		<string>python-xlwt</string>
		<string>python-errorhandler</string>
		<string>python-xlrd</string>
		<string>pydot</string>
		<string>pyparsing</string>
		<string>python-pytz</string>
		<string>enchant</string>
		<string>python-enchant</string>
		<string>dwd</string>
		<string>qdgui</string>
		<string>SeExpr</string>
		<string>qdgui-icons</string>
		<string>kakadu</string>
		<string>kida</string>
		<string>python-gdata</string>
		<string>xmlto</string>
		<string>dshell</string>
		<string>DA_iCloudManagement</string>
		<string>LocalMCX</string>
		<string>LocalMCX_dock</string>
		<string>LocalMCX_filevaultlocalaccounts</string>
		<string>LocalMCX_loginwindow</string>
		<string>LocalMCX_mobileaccounts</string>
		<string>LocalMCX_Safari</string>
		<string>LocalMCX_screensaver</string>
		<string>LocalMCX_securevm</string>
		<string>LocalMCX_sidebaritems</string>
		<string>LocalMCX_softwareupdateoff</string>
		<string>LocalMCX_timemachine</string>
		<string>DA_QuickTime7ProLicense</string>
		<string>theadminv2</string>
		<string>qt-mysql-plugin</string>
		<string>TextMate</string>
		<string>iLife11_iPhoto</string>
		<string>ProKitUpdate</string>
		<string>iPhoto9_RAWCameraUpdate</string>
		<string>iLife11_iPhotoUpdate</string>
		<string>iLife11_iPhotoUpdate-9.1</string>
		<string>iLife11_iMovie</string>
		<string>iLife11_iMovieUpdate</string>
		<string>iWork09</string>
		<string>iWork09_Update</string>
		<string>AdobePhotoshopCS6Extended</string>
		<string>AdobePhotoshopCS6Support_13.0_Update</string>
		<string>PhotoshopCameraRaw7_7.0_Update</string>
		<string>AdobeExtensionManagerCS6_6.0_Update</string>
		<string>PhotoshopCS6Unserializer</string>
		<string>AdobeAIR</string>
		<string>PSCS6_PaintersWheel</string>
		<string>AdobeBridgeCS6_5.0_Update</string>
		<string>beancount</string>
		<string>DA_beancount_syslog_conf</string>
		<string>dplay</string>
		<string>OpenEXR</string>
		<string>ilmbase</string>
		<string>libquicktime</string>
		<string>librawloop</string>
		<string>glew</string>
		<string>GraphicsMagick</string>
		<string>jasper</string>
		<string>libpng</string>
		<string>meander</string>
		<string>yajl</string>
		<string>corelibs</string>
		<string>pkg-config</string>
		<string>pkgconfig-disney</string>
		<string>python-disney-bootstraps</string>
		<string>stereotools</string>
		<string>darwin-hack</string>
		<string>python-psutil</string>
		<string>dplay-plugins</string>
		<string>Ptex</string>
		<string>ptexutils</string>
		<string>disney-darwin-fonts</string>
		<string>mediaman</string>
		<string>mmuserchown</string>
		<string>python-sqlalchemy</string>
		<string>python-imaging</string>
		<string>python-jsonpickle</string>
		<string>dtk</string>
		<string>python-demjson</string>
		<string>pes</string>
		<string>LinkMan</string>
		<string>PathFactory</string>
		<string>schedule30</string>
		<string>lean</string>
		<string>python-keynote</string>
		<string>Xcode_5</string>
		<string>Xcode_5_command_line_tools</string>
		<string>TextWrangler</string>
		<string>GoogleVoiceAndVideoPlugin</string>
	</array>
	<key>processed_uninstalls</key>
	<array>
		<string>Office2008</string>
		<string>CiscoVPNClient</string>
		<string>DA_HomeSyncPreferencesApp</string>
		<string>DApasswordChanger</string>
		<string>DAPowerManagement</string>
		<string>ARL_DesktopPictures</string>
		<string>LocalMCX_LionSetupAssistant</string>
		<string>ParallelsDesktop4</string>
		<string>AdobePhotoshopCS3</string>
		<string>Raconteur_DSA</string>
		<string>iWork08</string>
		<string>DisneyMonotypeFonts</string>
		<string>OmniGrafflePro</string>
		<string>OmniOutlinerPro</string>
		<string>OmniFocus</string>
		<string>Raconteur_SAA</string>
		<string>OmniPlan</string>
		<string>PainterX</string>
		<string>iLife11AppStoreApps</string>
		<string>BasilHD</string>
	</array>
	<key>removals</key>
	<array/>
</dict>
</plist>
