/*
 ** detail.css for Managed Software Center.app
 ** Based on App Store CSS © 2013 Apple Inc.
 */

body.product.software #content {
    max-width: 1397px
}
body.product div.columns {
    margin-bottom: 30px
}
body.product.software .main {
    margin-top: 8px
}
body.product .main>.product-detail {
    padding-top: 40px;
    margin-bottom: 23px;
    min-height: 196px;
    margin-right: 10px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch
}
body.product .product-detail .warning {
    font-size: 14px;
}
body.product .product-detail .lockup {
    display: inline-block;
    width: 175px;
    text-align: center;
    padding: 0;
    margin-right: 20px
}
body.product .product-detail .lockup div.artwork {
    float: none;
    margin-bottom: 20px
}
body.product .product-detail .lockup div.artwork img {
    width: 140px;
    height: 140px
}
body.product .product-detail .product-info {
    -webkit-box-flex: 1
}
body.product .product-detail .product-info .title h1 {
    margin-bottom: 2px;
    font-family: -apple-system, "Helvetica Neue", Helvetica;
    font-size: 24px;
    line-height: 22px;
    font-weight: bold;
    color: var(--text-color-emphasized);
    /*text-shadow: rgba(255,255,255,1) 0 1px 0*/
}
body.product .product-detail .product-info .title a {
    color: currentcolor
}
body.product .product-detail .product-info .product-review h4 {
    margin-bottom: 4px;
    font-family: -apple-system, "Helvetica Neue", Helvetica;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color-subdued);
    /*text-shadow: rgba(255,255,255,1) 0 1px 0*/
}
body.product .product-detail .product-info .product-review p,body.product .product-detail .product-info .product-review div,body.product .product-detail .product-info .product-review ul {
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color-normal);
}
body.product .product-detail .product-info .product-review p a {
    color: var(--description-link-color);
}

div.product-btn.box-flex {
    margin-top: 24px;
}
div.product-btn.box-flex .msc-button {
    float: right;
}
/*body.product .sidebar .app-info .content {
    font-size: 11px;
    color: var(--text-color-emphasized)
}
body.product .sidebar .app-info ul.list li,body.product .sidebar .app-info .app-rating {
    margin-bottom: 5px
}
body.product .sidebar .app-info li .label,
body.product .sidebar .app-info p span.label {
    font-weight: normal;
    color: var(--text-color-subdued);
}
body.product .sidebar .more-by {
    padding-bottom: 0
}
body.product .sidebar .more-by .content {
    margin-top: -6px
}
body.product .sidebar .more-by div.lockup {
    display: -webkit-box;
    padding: 7px 10px;
    border-width: 0 0 1px 0;
    height: 55px
}
body.product .sidebar .more-by div.lockup:last-child {
    -webkit-border-image: none;
    border-bottom-width: 0;
    padding-bottom: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px
}
body.product .sidebar .more-by div.lockup .artwork {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    display: inline-block;
    float: left
}
body.product .sidebar .more-by div.lockup ul {
    display: inline-block;
    width: 138px
}
body.product .sidebar .more-by div.lockup li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
body.product .sidebar .more-by div.lockup li.name {
    margin-bottom: 1px;
    font-size: 11px;
}
body.product .sidebar .more-by div.lockup li.genre {
    color: var(--text-color-subdued);
    font-size: 10px
}*/

div.product-review a {
    color: var(--install-btn-background);
    font-size: 14px;
    line-height: 24px;
}

div.app-info {
    padding-bottom: 20px;
}

div.app-info .information-item {
    font-size: 14px;
    padding-bottom: 10px;
    width: 50%;
    position: relative;
}
div.app-info .information-item .label {
    color: var(--text-color-subdued);
}

div.more-by {
    background: var(--more-by-background);
    margin-left: -40px;
    padding-left: 40px;
    margin-right: -40px;
    padding-right: 40px;
    margin-bottom: 0px;
}

div.more-items-header {
    display: block;
    height: 40px;
}

div.more-items-header-inner {
    display: inline;
}

div.more-items-header-inner h2 {
    float: left;
}

div.more-items-header-inner a {
    float: right;
    color: var(--install-btn-background);
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 12px;
}

div.more-by div.msc-button-inner {
    background: white;
}

/* display a variable number of related items based on screen width */
/* display 2 items if window is under 1000px wide*/
@media only screen and (max-width: 999px) {
    div.more-by div.lockup:nth-of-type(n+3) {
        display: none;
    }
}
/* display 2 items if window is 1000-1399px wide*/
@media only screen and (min-width: 1000px) and (max-width: 1399px) {
    div.more-by div.lockup:nth-of-type(n+4) {
        display: none;
    }
}
/* display 4 items if window is at least 1400px wide*/
@media only screen and (min-width: 1400px) {
    div.more-by div.lockup:nth-of-type(n+5) {
        display: none;
    }
}

