<div class="lockup category">
    <a href="${category_link}">
        <div class="artwork">
            <img width="75" height="75" alt="${category_name}" class="artwork" src="${item1_icon}" />
        </div>
    </a>
    <ul class="list">
        <li class="name"><a href="${category_link}">${category_name_escaped}</a></li>
        <li class="genre"><a href="${item1_detail_link}">${item1_display_name_escaped}</a></li>
        <li class="genre"><a href="${item2_detail_link}">${item2_display_name_escaped}</a></li>
        <li class="genre"><a href="${item3_detail_link}">${item3_display_name_escaped}</a></li>
    </ul>
</div>
