<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" data-theme="${data_theme}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Managed Software Center</title>

    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/base.css" />
    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/progress-spinner.css" />

    <script type="text/javascript" charset="utf-8" src="static/itemlist.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/integration.js"></script>
</head>

<body class="grouping">
    <div id="page">
        <div id="wrapper">
            <div id="content">
                <div class="background"></div>
                
                ${showcase}
                
                <div class="columns">
                    ${sidebar}
                    <div class="main">
                        <div class="lockup-container software" data-columns-current="1">
                            <div class="title">
                                <h2>${header_text}</h2>
                            </div>
                            <div class="content-and-controls">
                                <div class="paginated-container" id='optional_installs_items'>
                                    ${list_items}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        ${footer}
    </footer>
</body>
</html>
