<div class="lockup small detailed option" id="${name_escaped}_myitems_table_row">
    <a href="${detail_link}" class="artwork-link">
        <div class="artwork">
            <img width="90" height="90" alt="${display_name_escaped}" class="artwork" src="${icon}" />
        </div>
    </a>
    <ul class="list items">
        <li class="name" title="${display_name_escaped}"><a href="${detail_link}">${display_name_escaped}</a></li>
        <li class="genre">${developer_escaped}</li>
        <li>${version_label} ${display_version_escaped_and_size}</li>
        <li class="${status}" id="${name_escaped}_status_text">
            <span id="${name_escaped}_status_text_span">${status_text}</span>
            <a class="follow" href="munki://updates.html"></a>
            <div class="spinner right">
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
                <div class="spinner-blade"></div>
            </div>
        </li>
        <li class="button">
            <div class="msc-button small">
                <button class="button-area uppercase"
                        onClick="window.webkit.messageHandlers.actionButtonClicked.postMessage('${name_quoted}');">
                    <div class="msc-button-inner ${status}" id="${name_escaped}_action_button_text">
                        ${short_action_text}
                    </div>
                </button>
            </div>
        </li>
    </ul>
</div>
