<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" data-theme="${data_theme}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>My Items</title>

    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/base.css" />
    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/updates.css" />
    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/progress-spinner.css" />

    <script type="text/javascript" charset="utf-8" src="static/integration.js"></script>
</head>

<body class="grouping">
    <div id="page">
        <div id="wrapper">
            <div id="content">
                <div id="purchases" class="main">
                    <div class="lockup-container installations content" data-columns-current="1">
                        <div class="title">
                            <h2>${my_items_header_label}</h2>
                        </div>
                        <div class="content-and-controls my-updates">
                            ${myitems_rows}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        ${footer}
    </footer>
</body>
</html>
                    
