<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" data-theme="${data_theme}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>My Items</title>

    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/base.css" />
    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/updates.css" />

    <script type="text/javascript" charset="utf-8" src="static/integration.js"></script>
</head>

<body class="grouping">
    <div id="page">
        <div id="wrapper">
            <div id="content">
                <div class="background"></div>
                <div id="purchases" class="main">
                    <div class="lockup-container installations purchases">
                        <table aria-label='Purchases'>
                            <thead>
                                <tr>
                                    <th>${my_items_header_label}</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class='lockup-container installations purchases subscribed-items'>
                            <table class="no-header">
                                <tbody id='my_items_rows'>
                                    ${myitems_rows}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        ${footer}
    </footer>

</body>
</html>
                    
