<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/Users/Shared/.com.googlecode.munki.checkandinstallatstartup</key>
			<true/>
			<key>/Users/Shared/.com.googlecode.munki.installatstartup</key>
			<true/>
			<key>/private/tmp/com.googlecode.munki.installatlogout</key>
			<true/>
		</dict>
	</dict>
	<key>Label</key>
	<string>com.googlecode.munki.managedsoftwareupdate-loginwindow</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>LoginWindow</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/munki/supervisor</string>
		<string>--timeout</string>
		<string>43200</string>
		<string>--</string>
		<string>/usr/local/munki/managedsoftwareupdate</string>
		<string>--logoutinstall</string>
	</array>
</dict>
</plist>
