<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.googlecode.munki.MunkiStatusLogout</string>
  <key>LimitLoadToSessionType</key>
  <array>
    <string>LoginWindow</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
      <key>ManagedSoftwareUpdateMode</key>
      <string>MunkiStatus</string>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/Utilities/Managed Software Update.app/Contents/MacOS/Managed Software Update</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <dict>
     <key>PathState</key>
     <dict>
       <key>/var/run/com.googlecode.munki.MunkiStatus</key>
       <true/>
       <key>/private/tmp/com.googlecode.munki.statusatlogout</key>
       <true/>
     </dict>
  </dict>
</dict>
</plist>
