<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Debug</key>
  <true/>
  <key>Label</key>
  <string>com.googlecode.munki.installcheck</string>
  <key>ProgramArguments</key>
  <array>
    <string>/path/to/installcheck</string>
    <string>--randomsleep=900</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Minute</key>
    <integer>10</integer>
  </dict>
</dict>
</plist>

