<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.googlecode.munki.managedsoftwareupdated</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/munki/managedsoftwareupdate</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>managedsoftwareupdated</key>
		<dict>
			<key>SockPathName</key>
			<string>/var/run/managedsoftwareupdated</string>
			<key>SockPathMode</key>
			<integer>438</integer>
		</dict>
	</dict>
</dict>
</plist>