<div class="lockup small detailed option">
    <a href="${detail_link}" class="artwork-link">
        <div class="artwork">
            <img width="75" height="75" alt="${display_name}" class="artwork" src="${icon}" />
        </div>
    </a>
    <ul class="list">
        <li class="name" title="${display_name}"><a href="${detail_link}">${display_name}</a></li>
        <li class="genre">${category_and_developer}</li>
        <li class="${status}" id="${name}_status_text">${status_text}</li>
        <li>
            <div class="msu-button small">
                <button class="button-area uppercase"
                        onClick="window.AppController.actionButtonClicked_('${name}');">
                    <div class="msu-button-inner ${status}" id="${name}_action_button_text">
                        ${short_action_text}
                    </div>
                </button>
            </div>
        </li>
    </ul>
</div>
