<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Managed Software Center</title>

    <link charset="utf-8" rel="stylesheet" type="text/css" href="static/base.css" />
    
    <script type="text/javascript" charset="utf-8" src="static/itemlist.js"></script>

</head>

<body class="grouping">
    <div id="page">
        <div id="wrapper">
            <div id="content">
                <div class="background"></div>
                
                <div class="showcase ${hide_showcase}">
                    <div class="stage" onClick='stageClicked();'>
                        <img href="http://www.apple.com" alt="Branding" src="static/branding.png" />
                        <img href="detail-GoogleNerf.html"  alt="Branding" src="static/branding1.png" />
                        <img href="developer-Google.html" alt="Branding" src="static/branding2.png" />
                    </div>
                </div>

                <div class="columns">
                    <div class="main">
                        
                        <div class="lockup-container" data-columns-current="3">
                            <div class="title">
                                <h2>${header_text}</h2>
                                <!--<div class="select links">
                                    <label>
                                        <span></span>
                                        <select id="category-selector" onchange="category_select()">
                                            ${category_items}
                                        </select>
                                    </label>
                                </div>-->
                            </div>
                            <div class="content-and-controls">
                                <div class="paginated-container" id='optional_installs_items'>
                                    ${list_items}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sidebar">
                        <div class="chart titled-box quick-links">
                            <h2>Quick Links</h2>
                            <div class="content">
                                <ol class="list">
                                    <li class="link user-link"><a href="#">Welcome</a></li>
                                    <li class="link user-link"><a href="#">Support</a></li>
                                    <li class="separator"><hr/></li>
                                    <li class="popup">
                                        <div class="select links">
                                            <label>
                                                <span></span>
                                                <select id="category-selector" onchange="category_select()">
                                                    ${category_items}
                                                </select>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="link"><a href="http://www.apple.com/osx/whats-new/">What's new in Mavericks</a></li>
                                    <li class="link"><a target="_blank" href="http://www.apple.com">Apple</a></li>
                                    <li class="link"><a target="_blank" href="http://google.com">Search Google</a></li>
                                    <li class="link"><a target="_blank" href="http://bing.com">Search Bing</a></li>
                                    <li class="separator"><hr/></li>
                                    <li class="link"><a target="_blank" href="http://www.apple.com/support/">Apple support</a></li>
                                    <li class="link"><a target="_blank" href="http://www.apple.com/support/mac/">Mac</a></li>
                                    <li class="link"><a target="_blank" href="http://www.apple.com/support/osx/">OS X</a></li>
                                    <li class="link"><a target="_blank" href="http://www.apple.com/support/mac-apps/">Mac Apps</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
       ${footer}
    </footer>

</body>
  
</html>
