<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ManagedInstallDir</key>
  <string>/Library/Managed Installs</string>
  <key>ManifestURL</key>
  <string>http://webserver/repo/manifests/</string>
  <key>CatalogURL</key>
  <string>http://webserver/repo/catalogs/</string>
  <key>PackageURL</key>
  <string>http://webserver/repo/pkgs/</string>
  <key>ClientIdentifier</key>
  <string>arbitrary_manifest_name</string>
  <key>UseClientCertificate</key>
  <false/>
  <key>DaysBetweenNotifications</key>
  <integer>1</integer>
  <key>InstallAppleSoftwareUpdates</key>
  <false/>
  <key>SoftwareUpdateServerURL</key>
  <string></string>
  <key>LogFile</key>
  <string>/Library/Managed Installs/Logs/ManagedSoftwareUpdate.log</string>
  <key>LoggingLevel</key>
  <integer>1</integer>
</dict>
</plist>