/*
 ** updates.css for Managed Software Center.app
 ** Based on App Store CSS © 2013 Apple Inc.
 */

#page,#wrapper,#content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
    -webkit-box-align: stretch
}
#content {
    padding-top: 20px
}
.main {
    -webkit-box-flex: 0
}
.hidden {
    display: none!important;
    opacity: 0
}
.main>div:not(:last-of-type) {
    margin-bottom: 20px
}
div.status-results {
    border-bottom: 1px solid #d9d9d9
}
div.installations {
    margin: 14px 0;
    position: relative
}
div.installations table {
    width: 100%
}
div.installations table:not(.no-header):before {
    border-width: 0 0 3px 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 32px;
    width: 100%;
    z-index: 1
}
div.installations thead {
    border-radius: 5px 5px 0 0;
    height: 32px;
    border-bottom: 1px solid #d7d7d7;
}
div.installations th {
    color: var(--text-color-normal);
    font-size: 14px;
    font-weight: normal;
    height: 32px;
    line-height: 14px;
    text-align: left
}
#updates div.installations th {
    width: 100%;
    display: block;
    line-height: 32px
}

#update-count-string {
    /*margin-left: -10px*/
}

#updates-progress-spinner {
    margin-right: 4px;
    position: relative;
    left: 0px;
}

div.installations th:first-child {
    -webkit-border-top-left-radius: 5px
}
div.installations th:last-child {
    -webkit-border-top-right-radius: 5px
}
.installation td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 10px
}
.installation td,.installation td a {
    color: var(--text-color-emphasized)
}
.installation td.install-info-cell,.installation td.install-info-cell a, li.install-info-cell {
    color: var(--text-color-subdued);
}
.installation:first-child td {
    border-top: transparent
}
.installation div.artwork {
    position: absolute;
    margin-top: 3px
}
.installation img.artwork {
    height: auto;
    max-width: 35px;
    max-height: 35px;
    margin: 0 15px 0 5px;
    width: 35px
}
.installation h2 {
    color: var(--text-color-emphasized);
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px
}
.installation .error {
    color: var(--text-color-warning);
}
.installation .status span {
    display: block
}
.installation .install-button:not(button),.installation .install-button button,.adoption .install-button,.adoption #os-and-app-updates, {
    overflow: hidden;
    -webkit-border-radius: 5px
}
#other-updates #os-updates,#os-and-app-updates #os-updates,
#os-and-app-updates #app-updates, div.subscribed-items {
    margin: 0;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-box-shadow: none
}
#other-updates #os-updates,#os-and-app-updates #os-updates {
    /*border-bottom: 1px solid #d9d9d9*/
}
#other-updates #os-updatesth:last-child,#os-and-app-updates #os-updates th:last-child {
    width: 100%;
    display: block;
    padding-right: 0
}
#os-and-app-updates th .scan-progress {
    position: relative;
    top: -1px
}
#os-and-app-updates th .scan-progress .activity-indicator {
    top: 6px;
    left: 0
}

@-webkit-keyframes fade-out-and-remove {
    0% {opacity: 1}
    100% {opacity: 0}
}

div.purchases .installation td {
    height: 41px
}
/*div.purchases .installation:last-child td:first-child {
    -webkit-border-bottom-left-radius: 5px
}
div.purchases .installation:last-child td:last-child {
    -webkit-border-bottom-right-radius: 5px
}*/
div.purchases .installation td:first-child {
    width: 225px
}
div.purchases .installation td.hide {
    width: 1px
}
div.purchases .installation td:last-child {
    width: 200px
}
div.purchases .installation ul.info {
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    display: -webkit-box;
    height: 100%;
    padding-left: 55px;
    white-space: nowrap
}

div.purchases .installation button.hide {
    width:19px;height:19px;background:transparent url(delete-button-sprite.png) no-repeat;
    -webkit-background-size:19px 38px;
    border:0;
    opacity:0;
    pointer-events:none
}
div.purchases .installation button.hide:hover {
    background-position:bottom
}
div.purchases .installation:hover button.hide {
    opacity:1;
    -webkit-transition:opacity .1s ease-out;
    pointer-events:auto
}

div.purchases .installation td.status span {
    visibility: hidden;
    line-height: 41px;
}

div.purchases .installation td.status span.downloading:after,
div.purchases .installation td.status span.preparing-removal:after,
div.purchases .installation td.status span.installing:after,
div.purchases .installation td.status span.removing:after {
    margin-top: 11px;
}

div.purchases .installation td.status span.will-be-removed,
div.purchases .installation td.status span.will-be-installed,
div.purchases .installation td.status span.downloading,
div.purchases .installation td.status span.preparing-removal
{
    visibility: visible;
}

#updates {
    position: relative
}
#updates :focus {
    -webkit-focus-ring-color: transparent;
    outline: 0
}
#updates #header {
    margin-bottom: 15px;
    padding: 40px 0 40px 0
}
#updates #header h1 {
    font-size: 15px;
    font-weight: normal;
    /*color: #929292;*/
    color: var(--text-color-subdued);
    text-align: center
}
div.updates table {
    -webkit-box-orient: vertical;
    display: -webkit-box
}
div.updates thead,div.updates tbody {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    width: 100%
}
div.updates tr {
    display: -webkit-box;
    width: 100%
}
div.updates td {
    display: block
}
div.updates .installation td {
    padding-bottom: 15px;
    padding-top: 15px;
    white-space: nowrap
}
div.updates .installation td:nth-child(1) {
    width: 360px
}
div.updates .installation td:nth-child(2) {
    -webkit-box-flex: 1;
    white-space: normal
}
div.updates .installation td:nth-child(3) {
    vertical-align: bottom;
    color: blue
}
div.updates .installation img.artwork {
    min-width: 35px
}
div.updates .installation ul.info {
    color: var(--text-color-subdued);
    font-size: 11px;
    line-height: 16px;
    margin-left: 55px
}
div.updates .installation ul.info h2 {
    color: var(--text-color-normal);
    margin-bottom: 1px
}
div.updates .installation ul.info li:nth-child(n+2) {
    overflow: hidden;
    text-overflow: ellipsis
}
div.updates .installation p.description {
    line-height: 16px;
    padding-top: 1px
}
div.updates .installation .more-link {
    display: block
}
div.updates .installation span.update {
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    display: -webkit-inline-box;
    vertical-align: top;
    min-height: 20px
}
div.updates .installation .status {
    display: block;
    margin-right: 10px
}
div.updates .all-os-updates td {
    white-space: normal
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {div.artwork .critical-updates-icon {
    background: url(da-storefront/images/-dsi-/critical-updates-icon.2x.png);
    background-size: 35px 35px;
    background-repeat: no-repeat
}

}
div.updates.os-updates .installation td:last-child {
    -webkit-box-pack: center;
    padding-top: 15px
}
div.updates.os-updates .installation span.update {
    -webkit-box-align: center
}
div.os-updates .installation h2 {
    max-width: 100%;
    margin-bottom: 5px
}
div.os-updates .installation td {
    border: 0
}
div.updates.os-updates .sub-installation td:last-child {
    -webkit-box-pack: start
}
div.os-updates td.description p+p {
    margin-top: 10px
}
div.os-updates p.note {
    color: #d30
}
.installation .description a {
    color: var(--description-link-color)
}
.installation [data-text-truncate-lines] a.text-truncate-toggle {
    padding: 0;
    line-height: 14px
}
.installation .data-text-truncate-opened a.text-truncate-toggle {
    display: none
}
.all-os-updates .toggle:before,.installation [data-text-truncate-lines] a.text-truncate-toggle:before {
    content: "…";
    color: currentcolor
}
.installation [data-text-truncate-lines] a.text-truncate-toggle:after {
    display: none
}
div.os-updates tbody tr.sub-installation {
    display: none;
    background: rgba(0,0,0,.02)
}
div.os-updates.single-update tbody tr.sub-installation {
    background: transparent
}
.os-updates.expanded tbody tr.sub-installation,.os-updates.single-update tbody tr.sub-installation {
    display: -webkit-box;
    position: relative
}
.os-updates.expanded tbody tr.sub-installation {
    padding-top: 15px
}
.os-updates.expanded tbody tr:nth-child(2) {
    border-top: 1px solid rgba(0,0,0,.16)
}
div.os-updates.expanded tbody tr:nth-child(n+3):before {
    position: absolute;
    content: '';
    width: auto;
    height: 1px;
    top: 0;
    right: 100px;
    left: 240px;
}
div.os-updates.expanded tbody tr.sosumi:before {
    display: none
}
.activity-indicator {
    font: normal 20px -apple-system, "Helvetica Neue", Helvetica
}
#updates #header .scan-progress {
    padding: 0 0 1px 13px
}
#updates #header .scan-progress h1::before {
    display: none
}
#updates #header .scan-progress h1 {
    padding-left: 0;
    margin-top: -9px
}
.scan-progress.small .activity-indicator {
    display: inline-block;
    left: -10px;
    top: 7px;
    position: relative;
    margin: 2px 0 1px
}
body.scanning .non-scan-progress,body.page-not-ready .non-scan-progress,body:not(.scanning):not(.page-not-ready) .scan-progress {
    display: none
}

.activity-indicator {
    -webkit-animation-name: rotatingLoader;
    -webkit-animation-duration: .75s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear
}
@-webkit-keyframes rotatingLoader {0% {
    -webkit-transform: rotate(0deg)
}
8.32% {
    -webkit-transform: rotate(0deg)
}
8.33% {
    -webkit-transform: rotate(30deg)
}
16.65% {
    -webkit-transform: rotate(30deg)
}
16.66% {
    -webkit-transform: rotate(60deg)
}
24.99% {
    -webkit-transform: rotate(60deg)
}
25% {
    -webkit-transform: rotate(90deg)
}
33.32% {
    -webkit-transform: rotate(90deg)
}
33.33% {
    -webkit-transform: rotate(120deg)
}
41.65% {
    -webkit-transform: rotate(120deg)
}
41.66% {
    -webkit-transform: rotate(150deg)
}
49.99% {
    -webkit-transform: rotate(150deg)
}
50% {
    -webkit-transform: rotate(180deg)
}
58.32% {
    -webkit-transform: rotate(180deg)
}
58.33% {
    -webkit-transform: rotate(210deg)
}
66.65% {
    -webkit-transform: rotate(210deg)
}
66.66% {
    -webkit-transform: rotate(240deg)
}
74.99% {
    -webkit-transform: rotate(240deg)
}
75% {
    -webkit-transform: rotate(270deg)
}
83.32% {
    -webkit-transform: rotate(270deg)
}
83.33% {
    -webkit-transform: rotate(300deg)
}
91.65% {
    -webkit-transform: rotate(300deg)
}
91.66% {
    -webkit-transform: rotate(330deg)
}
100% {
    -webkit-transform: rotate(330deg)
}

}

#os-updates .installation button.cancel-or-add {
    width: 19px;
    height: 19px;
    background: transparent url(delete-button-sprite.png) no-repeat;
    -webkit-background-size: 19px 38px;
    border: 0;
}

#other-updates .installation button.cancel-or-add {
    width: 19px;
    height: 19px;
    background: transparent url(add-button-sprite.png) no-repeat;
    -webkit-background-size: 19px 38px;
    border: 0;
}

#os-updates .installation button.cancel-or-add:hover,
#other-updates .installation button.cancel-or-add:hover {
    background-position: bottom
}


tr.installation.added {
    -webkit-animation: fade-in .5s;
}
tr.installation.deleted {
    -webkit-animation: fade-out-and-remove .5s;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}


div.updates {
    -webkit-transition: all 1s ease-in-out;
}

div.updates.updating .installation button {
    display: none!important;
    opacity: 0;
}

div.progress {
    -webkit-appearance: none;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #a9a9a9;
    width: 200px;
    height: 8px;
    -webkit-box-sizing: content-box;
    padding: 1px 3px;
    -webkit-border-radius: 8px;
    background: var(--background-color);
}

div.progress > span {
    display: block;
    position: relative;
    height: 100%;
    padding: 0 2px;
    margin: 0 -2px;
    -webkit-border-radius: 4px;
    -webkit-box-sizing: content-box;
    background: -webkit-gradient(linear,left top,left bottom,from( #4C95DF),to( #3B64C8));
    border-width: 0;
    overflow: hidden;
    vertical-align: top;
    color: transparent;
    text-shadow: none;
    -webkit-transition: width 1s ease-in-out;
}

div.progress > span.indeterminate {
    -webkit-transition: none;
}

div.progress > span[style*="width: 100%"],
div.progress > span[style*="width:100%"],
div.progress > span.indeterminate {
    -webkit-border-radius: 4px;
}

div.progress > span.indeterminate > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: 
    -webkit-gradient(linear, left bottom, right top, 
    color-stop(.25, var(--background-color)),
    color-stop(.25, transparent), color-stop(.5, transparent), 
    color-stop(.5, var(--background-color)),
    color-stop(.75, var(--background-color)), 
    color-stop(.76, transparent), to(transparent)
    );
    z-index: 1;
    -webkit-background-size: 20px 20px;
    -webkit-animation: barber-pole 2s linear infinite;
    -webkit-border-radius: 4px;
    overflow: hidden;
}

@-webkit-keyframes barber-pole {
    0% {
        background-position: 0 20px;
    }
    100% {
        background-position: 20px 0;
    }
}


