<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleUpdates</key>
	<array>
		<dict>
			<key>apple_product_name</key>
			<string>Remote Desktop Client Update</string>
			<key>description</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;meta name="Generator" content="Cocoa HTML Writer"&gt;
  &lt;meta name="CocoaVersion" content="1138.47"&gt;
  &lt;style type="text/css"&gt;
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 11.0px 'Lucida Grande'}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 11.0px 'Lucida Grande'; min-height: 13.0px}
    span.s1 {text-decoration: underline ; color: #0000ee}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p class="p1"&gt;The 3.7.1 update is recommended for all Apple Remote Desktop clients and addresses several issues related to overall reliability, usability and compatibility.  &lt;/p&gt;
&lt;p class="p2"&gt;&lt;br&gt;&lt;/p&gt;
&lt;p class="p1"&gt;For detailed information on this update, please visit this website: &lt;a href="http://support.apple.com/kb/HT6045"&gt;&lt;span class="s1"&gt;http://support.apple.com/kb/HT6045&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</string>
			<key>display_name</key>
			<string>Remote Desktop Client Update</string>
			<key>installed_size</key>
			<integer>4677</integer>
			<key>name</key>
			<string>RemoteDesktopClient</string>
			<key>productKey</key>
			<string>031-1609</string>
			<key>version_to_install</key>
			<string>3.7.1</string>
		</dict>
		<dict>
			<key>apple_product_name</key>
			<string>iTunes</string>
			<key>blocking_applications</key>
			<array>
				<string>iTunes.app/Contents/MacOS/iTunes</string>
			</array>
			<key>description</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;meta name="Generator" content="Cocoa HTML Writer"&gt;
  &lt;meta name="CocoaVersion" content="1214.11"&gt;
  &lt;style type="text/css"&gt;
    p.p1 {margin: 0.0px 0.0px 10.0px 0.0px; font: 13.0px 'Helvetica Neue'}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: -0.1px; font: 13.0px 'Helvetica Neue'}
    p.p3 {margin: 0.0px 0.0px 0.0px 35.9px; text-indent: -35.9px; font: 13.0px 'Helvetica Neue'; min-height: 15.0px}
    li.li1 {margin: 0.0px 0.0px 10.0px 0.0px; font: 13.0px 'Helvetica Neue'}
    span.s1 {letter-spacing: 0.0px}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p class="p1"&gt;&lt;span class="s1"&gt;This version of iTunes resolves an issue where the equalizer may not work as expected and improves performance when switching views in large iTunes libraries. This update also includes additional minor bug fixes.&lt;/span&gt;&lt;/p&gt;
&lt;p class="p1"&gt;&lt;span class="s1"&gt;The previous version of iTunes added support for OS X Mavericks, Arabic, and Hebrew.&lt;/span&gt;&lt;/p&gt;
&lt;p class="p1"&gt;Note: If you are using OS X Mavericks, your book library can now be found in iBooks for Mac.&lt;/p&gt;
&lt;p class="p1"&gt;&lt;span class="s1"&gt;For information on the security content of this update, please visit: &lt;a href="http://support.apple.com/kb/HT1222"&gt;support.apple.com/kb/HT1222&lt;/a&gt;.&lt;/span&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</string>
			<key>display_name</key>
			<string>iTunes</string>
			<key>installed_size</key>
			<integer>224202</integer>
			<key>name</key>
			<string>iTunesX</string>
			<key>productKey</key>
			<string>zzzz031-1544</string>
			<key>version_to_install</key>
			<string>11.1.3</string>
		</dict>
		<dict>
			<key>apple_product_name</key>
			<string>Migration Assistant Update for Snow Leopard</string>
			<key>description</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;style type="text/css"&gt;
	body {font: 11.0px Lucida Grande;}
    p {margin: 0.0px 0.0px 0.0px 0.0px;}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;This update provides compatibility for migrating to a Mac running OS X Mavericks.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</string>
			<key>display_name</key>
			<string>Migration Assistant Update for Snow Leopard</string>
			<key>installed_size</key>
			<integer>2365</integer>
			<key>name</key>
			<string>Migration Assistant Update for Snow Leopard</string>
			<key>productKey</key>
			<string>zzz041-9981</string>
			<key>version_to_install</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>apple_product_name</key>
			<string>HP Printer Software Update</string>
			<key>description</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;meta name="Generator" content="Cocoa HTML Writer"&gt;
  &lt;meta name="CocoaVersion" content="824.41"&gt;
  &lt;style type="text/css"&gt;
    p.p1 {font: 11.0px Lucida Grande;}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p class="p1"&gt;This update installs the latest software for your HP printer or scanner.&lt;/p&gt;
&lt;p class="p1"&gt;For more information about printing and scanning software, see &lt;a href="http://support.apple.com/kb/HT3669"&gt;http://support.apple.com/kb/HT3669&lt;/a&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</string>
			<key>display_name</key>
			<string>HP Printer Software Update</string>
			<key>installed_size</key>
			<integer>111958</integer>
			<key>name</key>
			<string>031-0647</string>
			<key>productKey</key>
			<string>031-0647</string>
			<key>version_to_install</key>
			<string>2.16.1</string>
		</dict>
		<dict>
			<key>apple_product_name</key>
			<string>Safari</string>
			<key>blocking_applications</key>
			<array>
				<string>Safari.app/Contents/MacOS/Safari</string>
			</array>
			<key>description</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;meta name="Generator" content="Cocoa HTML Writer"&gt;
  &lt;meta name="CocoaVersion" content="1038.36"&gt;
  &lt;style type="text/css"&gt;
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
    li.li1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
    span.s1 {text-decoration: underline}
    ul.ul1 {list-style-type: disc}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p class="p1"&gt;Safari 6.1 for OS X Mountain Lion contains new features, including:&lt;/p&gt;
&lt;ul class="ul1"&gt;
	&lt;li class="li1"&gt;Shared Links. See links shared by people you follow on Twitter.&lt;/li&gt;
	&lt;li class="li1"&gt;Sidebar. See your Bookmarks, Reading List, and Shared Links in one convenient place.&lt;/li&gt;
	&lt;li class="li1"&gt;One-click bookmarking. Just click the (+) button to the left of the Smart Search Field to add a webpage to your Reading List. Click and hold to add it to the Favorites Bar or to your Bookmarks.&lt;/li&gt;
&lt;li class="li1"&gt;Safari Power Saver. Increase energy efficiency by playing only the plug-in content you want to see.&lt;/li&gt;
	&lt;li class="li1"&gt;Third-party data blocking. By default, Safari blocks third-party websites from leaving cookies and other types of data that could be used to track your browsing.&lt;/li&gt;
		&lt;li class="li1"&gt;Built-in Yandex Search. Leading Russian search engine Yandex is now an option for Russian users.&lt;/li&gt;
&lt;/ul&gt;
&lt;p class="p2"&gt;For detailed information on the security content of this update, please visit: &lt;a href="http://support.apple.com/kb/HT1222"&gt;http://support.apple.com/kb/HT1222&lt;/a&gt;&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</string>
			<key>display_name</key>
			<string>Safari</string>
			<key>installed_size</key>
			<integer>51656</integer>
			<key>name</key>
			<string>Safari6.1MountainLion</string>
			<key>productKey</key>
			<string>041-6651</string>
			<key>version_to_install</key>
			<string>6.1</string>
		</dict>
		<dict>
			<key>RestartAction</key>
			<string>RequireRestart</string>
			<key>apple_product_name</key>
			<string>Security Update 2013-004</string>
			<key>description</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
  &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
  &lt;title&gt;&lt;/title&gt;
  &lt;style type="text/css"&gt;
	p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 11.0px Lucida Grande;}
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p class="p1"&gt;Security Update 2013-004 is recommended for all users and improves the security of Mac OS X.&lt;/p&gt;
&lt;br /&gt;
&lt;p class="p1"&gt;For information on the security content of this update, please visit this website: &lt;a href="http://support.apple.com/kb/HT1222"&gt;http://support.apple.com/kb/HT1222&lt;/a&gt;.&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</string>
			<key>display_name</key>
			<string>Security Update 2013-004</string>
			<key>installed_size</key>
			<integer>340752</integer>
			<key>name</key>
			<string>SecUpd2013-004</string>
			<key>productKey</key>
			<string>zzz091-9765</string>
			<key>version_to_install</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>RestartAction</key>
			<string>RequireRestart</string>
			<key>apple_product_name</key>
			<string>OS X Update</string>
			<key>description</key>
			<string>&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8"&gt;
        &lt;meta http-equiv="Content-Style-Type" content="text/css"&gt;
        &lt;title&gt;&lt;/title&gt;
        &lt;style type="text/css"&gt;
            body {font: 11.0px Lucida Grande;}
            p {margin: 0.0px 0.0px 0.0px 0.0px;}
        &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;p&gt;The 10.9.1 update improves the stability and compatibility of your Mac, and is recommended for all OS X Mavericks users.&lt;/p&gt;
        &lt;p&gt;&lt;/br&gt;&lt;/p&gt;
        &lt;p&gt;This update includes the following fixes:&lt;/p&gt;
        &lt;p&gt;&lt;/br&gt;&lt;/p&gt;
        &lt;ul&gt;
            &lt;li&gt;Improved support for Gmail in OS X Mail, and fixes for users with custom Gmail settings&lt;/li&gt;
            &lt;li&gt;Improves the reliability of Smart Mailboxes and search in Mail&lt;/li&gt;
            &lt;li&gt;Fixes an issue that prevented contact groups from working properly in Mail&lt;/li&gt;
            &lt;li&gt;Resolves an issue that prevented VoiceOver from speaking sentences that contain emoji&lt;/li&gt;
            &lt;li&gt;Updates Shared Links periodically when open in the Safari Sidebar&lt;/li&gt;
        &lt;/ul&gt;
        &lt;p&gt;&lt;/br&gt;&lt;/p&gt;
        &lt;p&gt;For detailed information about this update, please visit: &lt;a href="http://support.apple.com/kb/HT6065"&gt;http://support.apple.com/kb/HT6065&lt;/a&gt;&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;
</string>
			<key>display_name</key>
			<string>OS X Update</string>
			<key>installed_size</key>
			<integer>237180</integer>
			<key>name</key>
			<string>OSXUpd10.9.1</string>
			<key>productKey</key>
			<string>031-2490</string>
			<key>version_to_install</key>
			<string>10.9.1</string>
		</dict>
	</array>
</dict>
</plist>
