asn1crypto==1.5.1
cffi==1.15.1
pycparser==2.21

pyobjc-core==9.1.1
pyobjc-framework-CFNetwork==9.1.1
pyobjc-framework-LaunchServices==9.1.1
pyobjc-framework-OpenDirectory==9.1.1
pyobjc-framework-Quartz==9.1.1
pyobjc-framework-Security==9.1.1
pyobjc-framework-SystemConfiguration==9.1.1

six==1.16.0
xattr==0.10.1
--no-binary :all:
