<tr class='installation ${added_or_deleted}' id="${name}_update_table_row">
  <td>
    <a href="${detail_link}" class="artwork-link">
      <div class="artwork">
        <img width="75" height="75" alt="${display_name}" class="artwork" src="${icon}">
      </div>
    </a>
    <ul class="list info">
        <li><h2><a title="${display_name}" href="${detail_link}">${display_name}</a></h2></li>
        <li>${developer}</li>
        <li>${version_label} ${version_to_install}</li>
        <li class="warning">${restart_action_text}</li>
    </ul>
  </td>
  <td>
    <p class="description" data-text-truncate-lines="4">
      ${description}
      <a class="text-truncate-toggle hidden" href="#">${more_link_text}</a>
    </p>
  </td>
  <td class="${cancel_or_add} ${hide_cancel_button}">
      <button title="${long_action_text}" class="${cancel_or_add}" aria-label="${long_action_text}"
          onClick="fadeOutAndRemove('${name}');"></button>
  </td>
</tr>
