<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_branch</key>
	<string>testing</string>
	<key>managed_installs</key>
	<array>
		<string>ServerAdminTools</string>
		<string>/production/TextWrangler</string>
		<string>subfolder/AnotherItem</string>
	</array>
</dict>
</plist>